<%- include('header'); -%>

<h1>About Us</h1>

<p>
    Sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula. Varius morbi enim nunc faucibus. Ultrices dui sapien eget mi proin sed libero enim. Montes nascetur ridiculus mus mauris vitae ultricies leo. Eu volutpat odio facilisis mauris. Velit sed ullamcorper morbi tincidunt. Consectetur libero id faucibus nisl. Viverra maecenas accumsan lacus vel facilisis volutpat. Sit amet facilisis magna etiam tempor orci. Sed arcu non odio euismod lacinia at quis. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Ac tortor dignissim convallis aenean et. Nec tincidunt praesent semper feugiat nibh sed pulvinar proin gravida.
</p>

<%- include('footer'); -%>